header.header 
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src=setting.logo , alt="logo", srcset="" width="90px") 
            .col-5 
                form(action="/search" method="GET")
                    input(
                        type="text"
                        placeholder="Enter key word"
                        class="form-control"
                        name="keyword"
                        value=keyword
                    )
                    button(
                        type="submit"
                        class="btn btn-primary"
                    ) Search
            .col-9  
                .inner-menu 
                    ul  
                        li 
                            a(href="/") #{setting.websiteName} 
                        li(class="sub-menu")
                            a(href="/product") Product
                            - const path = '/product'
                            +submenu(listCategory, path)
                        li 
                            a(href="/cart") Cart (#{miniCart ? miniCart.totalQuantity : 0})
                        if(user)
                            li 
                                a(href="/user/logout") logout
                            li 
                                a(href="/user/infor") #{user.fullName}
                            li 
                                a(href="/chat") chat
                        else
                            li 
                                a(href="/user/signin") Singin
                            li 
                                a(href="/user/signup") Signup