extends ../../layout/default.pug
include ../../mixins/boxHead.pug
include ../../mixins/submenu.pug
include ../../mixins/productLayout.pug

block main 
    head 
        link(rel="stylesheet", href="/css/frame-friend.css")
    include ../../partials/button.user.pug
    h1 List request add friend

    div(style="margin-top: 65px; margin-bottom: 10px; display: flex; justify-content: space-between" ) 
        each item in friend
            .card(class="refuse")
                img(alt=item.fullName src=item.avartar ? item.avartar : 'https://scontent.fhan14-5.fna.fbcdn.net/v/t1.15752-9/438158386_745984067428176_5893907391898096556_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeE5uUTO6Gye34P0mtg1HinLiDJ_j0nl6qCIMn-PSeXqoAp6UJK7d7iw-NS-cqHL2wa_m6U3TROMOcU8hfq5VMBM&_nc_ohc=UGCOBXQ1fJwQ7kNvgE_0WZo&_nc_ht=scontent.fhan14-5.fna&oh=03_Q7cD1QGdHwGL66HN29VQjEUIIJlcfYtNN5rsdY08YWxNlXXAVA&oe=66B8BAF4')
                h2 #{item.fullName}
                p Sent you a Friend Request!
                .buttongroup
                    button(class="btn btn-sm btn-primary mr-1" style="color: black" btn-accept-friend=item.id) Accept
                    button(class="btn btn-sm btn-secondary mr-1" style="color: black" btn-refuse-friend=item.id) Refuse
                    button(class="btn btn-sm btn-secondary mr-1" style="color: black" btn-delete-friend disabled) Removed
                    button(class="btn btn-sm btn-secondary mr-1" style="color: black" btn-accepted-friend disabled) Accepted
block script 
    <script src="/socket.io/socket.io.js"></script>
    script(src="/js/socket.js") 
    script(type="module" src="/js/friend.js") 