extends ../../layout/default.pug
include ../../mixins/submenu.pug
include ../../mixins/alert.pug
block main 
    +alert-message(3000)
    +alert-error(3000)
    .container.my-3 
        .row    
            .col-12 
                if(product.title)
                    h1(class="mb-4" #{product.title})
                
                if(product.price)
                    div(class="mb-4" ) Price: <b>#{product.price}</b>

                if(product.newPrice)
                    div(class="mb-4" ) new Price: <b>#{product.newPrice}</b>

                if(product.discountPercentage)
                    div(class="mb-4") DiscountPercent: <b>#{product.discountPercentage}</b>
                
                if(product.category)
                    div(class="mb-4") DiscountPercent: <b>#{product.category.title}</b>

                if(product.stock)
                    div(class="mb-4") Quantity: <b>#{product.stock}</b>
                
                if(product.thumbnail)
                    div(class="mb-4")
                        img(src=product.thumbnail style="width: 100px")
                
                if(product.status)
                    div(class="mb-4")
                        span Status: 
                            if(product.status == "active")
                                span(class="badge badge-success"  style="color: black") Active 
                            if(product.status == "inactive")
                                span(class="badge badge-danger" style="color: black") inactive    
                
                if(product.position)
                    div(class="mb-4") position: <b>#{product.position}</b>

                if(product.description)
                    div(class="mb-4") description: <b>!{product.description}</b>




        form(action=`/cart/add/${product.id}` method='post')
            input(
                    class="form-control mb-2"
                    type="number"
                    name="quantity"
                    value="1"
                    max=product.stock
                )
            button(
                    type="submit"
                    class="btn btn-success btn-block"
                ) Add to cart

    


